
.jr-rating {
	float: left;
	margin: 6px 0;
	position: relative;
	display: block;
	color: red;
	width: 0;
	height: 0;
	border-bottom: 7px solid #ff9800;
	border-left: 10px solid transparent;
	-webkit-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg)
}

.jr-nomal {
	float: left;
	margin: 6px 0;
	position: relative;
	display: block;
	color: red;
	width: 0;
	height: 0;
	border-bottom: 7px solid #ced3da;
	-webkit-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg)
}

.jr-nomal,
.jr-rating {
	border-right: 10px solid transparent;
	-moz-transform: rotate(35deg)
}

.jr-rating:after,
.jr-rating:before {
	position: absolute;
	display: block;
	width: 0;
	height: 0
}

.jr-nomal:after,
.jr-nomal:before {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	content: ''
}

.jr-rating:before {
	border-bottom: 8px solid #ff9800;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	top: -4.5px;
	left: -6.5px;
	content: '';
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	-o-transform: rotate(-35deg)
}

.jr-nomal:before {
	border-bottom: 8px solid #ced3da;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	top: -4.5px;
	left: -6.5px;
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	-o-transform: rotate(-35deg)
}

.jr-nomal,
.jr-rating:after {
	border-left: 10px solid transparent
}

.jr-rating:after {
	color: red;
	top: .3px;
	left: -10.5px;
	border-right: 10px solid transparent;
	border-bottom: 7px solid #ff9800;
	-webkit-transform: rotate(-70deg);
	-moz-transform: rotate(-70deg);
	-ms-transform: rotate(-70deg);
	-o-transform: rotate(-70deg);
	content: ''
}

.jr-nomal:after {
	color: red;
	top: .3px;
	left: -10.5px;
	border-right: 10px solid transparent;
	border-bottom: 7px solid #ced3da;
	border-left: 10px solid transparent;
	-webkit-transform: rotate(-70deg);
	-moz-transform: rotate(-70deg);
	-ms-transform: rotate(-70deg);
	-o-transform: rotate(-70deg)
}

